.user__link {
    display: grid;
    background-color: white;
    padding: 20px 10px;
    border-radius: 10px;
    width: 100%;
    grid-template-columns: 50px 70%;
    text-decoration: none;
    gap: 5px;
}

.user__avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.user__text p {
    color: black;
}

.text__bold {
    font-weight: 700;
    font-size: 16px;
}

.text__sm {
    font-weight: 500;
    font-size: 14px;
    color: rgb(155, 155, 155);
}