.user__link {
    display: grid;
    grid-template-columns: 50px 70%;
    text-decoration: none;
    gap: 5px;
}

.user__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user__text p {
    color: black;
}

.text__bold {
    font-weight: 700;
    font-size: 16px;
}

.text__sm {
    font-weight: 600;
    font-size: 14px;
    color: rgb(106, 106, 106);
}