.user__link {
    display: grid;
    background-color: white;
    padding: 20px 20px;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    align-items: center;
    grid-template-columns: 70px 70%;
    text-decoration: none;
    gap: 5px;
}

.user__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user__skeleton {
    border-radius: 10px;
}

.user__text p {
    color: black;
}

.text__bold {
    font-weight: 700;
    font-size: 18px;
}

.text__sm {
    font-weight: 500;
    font-size: 16px;
    color: rgb(155, 155, 155);
}